
body{
    background: ;
}
h{
	font-style: italic;
	font-size: 40px;
	text-decoration: underline;
	text-decoration-thickness: 1px;
	text-decoration-color: black;
	color: dodgerblue;

}

section{
	display: flex;

}

main1 div{
    background-image: url(img.jpg);
    width: 370px;
    height: 300px;
    margin-top: 30px;
    margin-left: 0px;
    border-radius: 20px;
    font-size: 25px;
    font-style: italic;
    color: black;
}




p{
	margin-left: 35px;
	font-size: 20px;
    color: dodgerblue;
    font-size: 15PX;

}





div input{
	border-radius: 8px;
	margin-left: 80px;
	height: 25px;
	width: 220px;
    margin-top: 20px;
     background: ghostwhite;
}

img{
    width: 340px;
    height: 250px;
    border-radius: 10px;
    margin-left: -20px;
}






main div{
	background: lightblue;
	width: 300px;
	height: 50px;
	margin-top: 30px;
	margin-left: 50px;
    border-radius: 10px;
}


h3 {
    border-top: 2px solid silver;
    margin-left: 30px;
    font-size: 24px;
    font-style: italic;

}

h4{
    color: black;
    font-size: 20px;
    margin-left: 160px;
}
